In [3]:
x = False

if (x):
    print('test')
else:
    print('no')

no

In [15]:
import psycopg2
import pandas as pd
# connect to db

sql = "select * from data.car"
conn = psycopg2.connect(host="localhost", database="db", user="postgres", password="postgres")

#open
cur = conn.cursor()

#execute query and print data
cur.execute(sql)

rows = cur.fetchall()
for row in rows:
    print(row)

#cleanup
cur.close()
conn.close()


#re execute and load to dataframe
df = pd.read_sql(sql, conn)
print (df.head(3))
df = df.assign(with_tax=lambda x: x.price * 1.2)
print (df)

(1, 'Vauxhall', 'Corsa', Decimal('12995.99'))
(2, 'Vauxhall', 'Astra', Decimal('18995.00'))
(3, 'Aston Martin', 'Vantage', Decimal('100995.00'))
   id          make    model      price
0   1      Vauxhall    Corsa   12995.99
1   2      Vauxhall    Astra   18995.00
2   3  Aston Martin  Vantage  100995.00
   id          make    model      price    with_tax
0   1      Vauxhall    Corsa   12995.99   15595.188
1   2      Vauxhall    Astra   18995.00   22794.000
2   3  Aston Martin  Vantage  100995.00  121194.000

/var/folders/g2/wv2xj5n91h314_2mb064bplh0000gn/T/ipykernel_2445/2879955993.py:19: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(sql, conn)